<div class="w-2/3 bg-slate-50 border border-slate-500 rounded-lg m-auto mt-6 p-4">
  <div class="flex flex-row gap-4">
    <a routerLink="">Home</a>
    <a routerLink="/pipes">Pipes</a>
  </div>
</div>

<div class="w-2/3 bg-slate-50 border border-slate-500 rounded-lg m-auto mt-10 p-10">

  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Add a customer <span class="text-red-500">{{customer.status}}</span></h3>
        <p class="mt-1 text-sm text-gray-600">Please fill all mandatory fields marked with <span class="text-red-500">*</span></p>
      </div>
      <customer-list></customer-list> <!-- Component Directive -->
      <div class="flex flex-col gap-3">
        <div class="flex flex-row gap-4">
          <label>Customer</label>
          <input type="radio" [(ngModel)]="type" value="Customer">
        </div>
        <div class="flex flex-row gap-4">
          <label>Business</label>
          <input type="radio" [(ngModel)]="type" value="Business">
        </div>
        <div class="flex flex-row gap-4">
          <label>Staff</label>
          <input type="radio" [(ngModel)]="type" value="Staff">
        </div>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <form [formGroup]="customer" (ngSubmit)="saveCustomerForm()">
        <div class="shadow sm:rounded-md sm:overflow-hidden">
          <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
            <div>
              <label [ngSwitch]="type" for="name" class="block mb-2 text-sm font-medium text-black dark:text-gray-300">
                <span *ngSwitchCase="'Customer'">Customer</span>
                <span *ngSwitchCase="'Business'">Business</span>
                <span *ngSwitchCase="'Staff'">Staff</span>
                <span *ngSwitchDefault>User</span>
                Name
              </label>
              <input type="text" id="name" class="border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Name" formControlName="name">
              <div *ngIf="customer.get('name')?.dirty">
                <span class="text-red-700" *ngIf="customer.get('name')?.hasError('required')">Name is required</span>
                <span class="text-red-700" *ngIf="customer.get('name')?.hasError('minlength')">Name must be atleast 6 characters long</span>
                <span class="text-red-700" *ngIf="customer.get('name')?.hasError('maxlength')">Name must not exceed 20 characters</span>
                <span class="text-red-700" *ngIf="customer.get('name')?.hasError('pattern')">Name cannot have leading or trailing spaces</span>
              </div>
            </div>

            <div>
              <label for="about" [class.text-9xl]="type == 'Business'"
                     [ngClass]="{'text-md':type === '', 'text-xl': type === 'Staff', 'text-3xl': type === 'Customer'}"
                     class="block font-lg text-gray-700"> Address </label>
              <div class="mt-1">
                <textarea formControlName="address" id="about" name="about" rows="3" class="p-4 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md" placeholder="Address"></textarea>
              </div>

              <p class="mt-2 text-sm text-gray-500" appHighlight>Add address in multiple lines</p>

              <div *ngIf="customer.get('address')?.dirty">
                <span class="text-red-700" *ngIf="customer.get('address')?.hasError('minlength')">Key in a valid address</span>
              </div>
            </div>

            <div class="flex flex-row gap-4">
              <h4>Gender</h4>
              <div class="flex flex-col">
                <div class="flex items-center mb-4">
                  <input formControlName="gender" id="default-radio-1" type="radio" value="M" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                  <label for="default-radio-1" class="ml-2 text-sm font-medium text-slate-500">Male</label>
                </div>
                <div class="flex items-center">
                  <input formControlName="gender" id="default-radio-2" type="radio" value="F" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                  <label for="default-radio-2" class="ml-2 text-sm font-medium text-slate-500">Female</label>
                </div>
              </div>
            </div>

            <div>
              <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Number</label>
              <input type="text" formControlName="phone" id="phone" class="border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Phone number">
              <div *ngIf="customer.get('phone')?.dirty">
                <span class="text-red-700" *ngIf="customer.get('phone')?.hasError('pattern')">Invalid phone number</span>
              </div>
            </div>

            <div class="card-list" formArrayName="cards">
              <h4>Customer credit cards {{cards.controls.length}}</h4>
              <div *ngFor="let card of cards.controls; let i = index">
                <div [formGroupName]="i" class="flex flex-row gap-3 relative mb-5">
                  <div class="w-1/4">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Company</label>
                    <input appUppercase type="text" formControlName="company" class="border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Card company">
                    <div *ngIf="card.get('company')?.dirty">
                      <span class="text-red-700" *ngIf="card.get('company')?.hasError('required')">Card name is required</span>
                    </div>
                  </div>

                  <div class="w-3/4">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Card number ( {{i}} )</label>
                    <input type="text" formControlName="cardNumber"  class="border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Card number">
                  </div>

                  <button *ngIf="cards.controls.length > 1" (click)="deleteCard(i)" class="bg-red-500 text-white rounded absolute right-8 w-6 h-6 cursor-pointer">-</button>
                  <button *ngIf="i == cards.controls.length - 1" (click)="addNewCard()" class="bg-green-500 text-white rounded absolute right-0 w-6 h-6 cursor-pointer">+</button>
                </div>
              </div>
            </div>

          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button [disabled]="customer.invalid" type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- test comment -->
<router-outlet></router-outlet>
